* {
  margin: 0;
  padding: 0;
}

p {
  font-family: Georgia, 'Century Schoolbook L', serif;
  font-size: 1.3em;
}

label {
  width: 0.8em;
  height: 0.8em;
  background-color: rgb(72, 157, 243);
  border-radius: 50%;
}

input {
  transform: translate(1.7em);
  z-index: -1;
}

.label1,
#radio1 {
  transform: translate(3.6em);
}

.label2,
#radio2 {
  transform: translate(2.4em);
}

.label3,
#radio3 {
  transform: translate(1.2em);
}

.wrapper {
  width: 90vw;
  max-width: 150vh;
  margin: auto;
  padding: 3vh 3vw 6vh;
  background: #2f2f2f;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 0 0.75%;
}

.mems {
  order: -2;
  height: 50vw;
  width: 100%;
  max-height: 70vh;
  margin: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-radius: 1vh;
  margin-bottom: 4vh;
}

.mem-names {
  order: -1;
  display: inline-block;
}

.mem1 {
  background: url(./img/sophisticated\ technologies.png);
}

.mem2 {
  background: url(./img/UDP.png);
}

.mem3 {
  background: url(./img/suddenly\ work.png);
}

.mem4 {
  background: url(./img/new_ficha.png);
}

.mem {
  height: 50vw;
  width: 90vw;
  max-width: 150vh;
  max-height: 70vh;
  margin: auto;
  display: inline-block;
  transition: 0.5s;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;
}

.mem-names {
  flex-grow: 1;
  display: flex;
  height: 1vh;
  margin-bottom: 5vh;
}

.name1,
.name2,
.name3,
.name4 {
  display: inline-block;
  width: 100%;
  background: #2f2f2f;
  transition: 0.5s;
  color: rgb(239, 239, 239);
}

@media (max-width: 768px) {
  .wrapper {
    justify-content: center;
  }
  .radio {
    margin-bottom: 3vh;
  }
  .mem-names {
    order: 1;
    width: 100%;
    margin-bottom: 6vh;
  }
  p {
    font-size: 0.9em;
  }
  .label1,
  .label2,
  .label3,
  .label4,
  #radio1,
  #radio2,
  #radio3,
  #radio4 {
    transform: translate(-0.5em);
  }
}

label:hover {
  background: #ffffff;
}

#radio1:checked + .label1,
#radio2:checked + .label2,
#radio3:checked + .label3,
#radio4:checked + .label4 {
  background: none;
  box-sizing: border-box;
  border: rgb(72, 157, 243) solid 0.15em;
}

#radio1:checked + .label1:hover,
#radio2:checked + .label2:hover,
#radio3:checked + .label3:hover,
#radio4:checked + .label4:hover {
  background: none;
  box-sizing: border-box;
  border: #ffffff solid 0.15em;
}

#radio1:checked ~ .mems .mem2,
#radio1:checked ~ .mems .mem3,
#radio1:checked ~ .mems .mem4,
#radio1:checked ~ .mem-names .name2,
#radio1:checked ~ .mem-names .name3,
#radio1:checked ~ .mem-names .name4 {
  width: 0;
  font-size: 0;
  color: #2f2f2f;
}

#radio2:checked ~ .mems .mem1,
#radio2:checked ~ .mems .mem3,
#radio2:checked ~ .mems .mem4,
#radio2:checked ~ .mem-names .name1,
#radio2:checked ~ .mem-names .name3,
#radio2:checked ~ .mem-names .name4 {
  width: 0;
  font-size: 0;
  color: #2f2f2f;
}

#radio3:checked ~ .mems .mem1,
#radio3:checked ~ .mems .mem2,
#radio3:checked ~ .mems .mem4,
#radio3:checked ~ .mem-names .name1,
#radio3:checked ~ .mem-names .name2,
#radio3:checked ~ .mem-names .name4 {
  width: 0;
  font-size: 0;
  color: #2f2f2f;
}

#radio4:checked ~ .mems .mem1,
#radio4:checked ~ .mems .mem2,
#radio4:checked ~ .mems .mem3,
#radio4:checked ~ .mem-names .name1,
#radio4:checked ~ .mem-names .name2,
#radio4:checked ~ .mem-names .name3 {
  width: 0;
  font-size: 0;
  color: #2f2f2f;
}
