* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 90vw;
  max-width: 150vh;
  margin: auto;
  padding: 3vh 3vw 6vh;
  background: #2f2f2f;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 0 0.75%;
}

.mems {
  order: -2;
  height: 50vw;
  width: 100%;
  max-height: 70vh;
  margin: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-radius: 1vh;
  margin-bottom: 4vh;
}

.mem-names {
  order: -1;
}

.mem1 {
  background: #6aa8b6;
}

.mem2 {
  background: #82b66a;
}

.mem3 {
  background: #b2b66a;
}

.mem4 {
  background: #7d6ab6;
}

.mem {
  height: 50vw;
  width: 90vw;
  max-width: 150vh;
  max-height: 70vh;
  margin: auto;
  display: inline-block;
  transition: 0.5s;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;
}

.mem-names {
  flex-grow: 1;
  display: flex;
  height: 1vh;
  margin-bottom: 5vh;
}

.name1,
.name2,
.name3,
.name4 {
  display: inline-block;
  width: 100%;
  background: #2f2f2f;
  transition: 0.5s;
  color: rgb(239, 239, 239);
}

@media (max-width: 768px) {
  .wrapper {
    justify-content: center;
  }
  .radio {
    margin-bottom: 2vh;
  }
  .mem-names {
    order: 1;
    width: 100%;
    margin-bottom: 6vh;
  }
}

#radio1:checked ~ .mems .mem2,
#radio1:checked ~ .mems .mem3,
#radio1:checked ~ .mems .mem4,
#radio1:checked ~ .mem-names .name2,
#radio1:checked ~ .mem-names .name3,
#radio1:checked ~ .mem-names .name4 {
  width: 0;
  font-size: 0;
  color: #2f2f2f;
}

#radio2:checked ~ .mems .mem1,
#radio2:checked ~ .mems .mem3,
#radio2:checked ~ .mems .mem4,
#radio2:checked ~ .mem-names .name1,
#radio2:checked ~ .mem-names .name3,
#radio2:checked ~ .mem-names .name4 {
  width: 0;
  font-size: 0;
  color: #2f2f2f;
}

#radio3:checked ~ .mems .mem1,
#radio3:checked ~ .mems .mem2,
#radio3:checked ~ .mems .mem4,
#radio3:checked ~ .mem-names .name1,
#radio3:checked ~ .mem-names .name2,
#radio3:checked ~ .mem-names .name4 {
  width: 0;
  font-size: 0;
  color: #2f2f2f;
}

#radio4:checked ~ .mems .mem1,
#radio4:checked ~ .mems .mem2,
#radio4:checked ~ .mems .mem3,
#radio4:checked ~ .mem-names .name1,
#radio4:checked ~ .mem-names .name2,
#radio4:checked ~ .mem-names .name3 {
  width: 0;
  font-size: 0;
  color: #2f2f2f;
}
